# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.iml
*.sublime-workspace
*.sublime-project

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Frontend
node_modules/
dist/
build/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java / Maven / Backend
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*
.mvn/wrapper/maven-wrapper.properties
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/MavenWrapperDownloader.java

# Misc
tmp/
temp/
